In [1]:
from multiprocessing import Pool
import multiprocessing
import os
import glob, shutil
import pandas as pd
import numpy as np

In [2]:
#orig_data_path="/data/home/boris/yellow/taxi_data/"
src="/home/boris/data/taxi_data_cleaned_18_standard"
dest="/home/boris/data/taxi_data_cleaned_18_standard"
if not os.path.exists(dest):
    os.makedirs(dest)

In [3]:
files = glob.glob(os.path.join(src, "*.csv"))

files[0:5]

['/home/boris/data/taxi_data_cleaned_18_standard/yellow_tripdata_2011-06.csv',
 '/home/boris/data/taxi_data_cleaned_18_standard/yellow_tripdata_2011-02.csv',
 '/home/boris/data/taxi_data_cleaned_18_standard/yellow_tripdata_2019-09.csv',
 '/home/boris/data/taxi_data_cleaned_18_standard/yellow_tripdata_2013-10.csv',
 '/home/boris/data/taxi_data_cleaned_18_standard/yellow_tripdata_2011-04.csv']

In [ ]:
def cleanup(f):

    dst = os.path.join(dest, os.path.split(f)[1])
    print(f"Reading: {os.path.split(f)[1]}")
    
    df = pd.read_csv(f, header=None, error_bad_lines=False).replace('', 'N').fillna(78)
    print(f"Writing: {os.path.split(f)[1]}")
    
    df.to_csv(dst, header=None, index=False)

In [21]:
def remove_first(f):
    
    dst = os.path.join(dest, os.path.split(f)[1])
    print(f"Reading: {os.path.split(f)[1]}")
    
    with open(f, "r") as fd:
        l=fd.readlines()
        
    print(f"Writing: {os.path.split(f)[1]}")        
    with open(dst, "w") as fd:
        fd.writelines(l[1:])

In [ ]:
def check(f):
    print(f"Reading... {f}")
    with open(f, "r") as fd:
        lns = fd.readlines()
    empty = []
    for i, l in zip(range(len(lns)), lns):
        if l.find(',,') >= 0 or l.endswith(','): empty += [i]
    if len(empty) > 0: print(f)
    else: print(f"No empty lines: {f}")

In [10]:
def clean_schema(f):
    dst = os.path.join(dest, os.path.split(f)[1])
    print(f"Reading: {os.path.split(f)[1]}")
    
    df = pd.read_csv(f, header=None)
    df[0] = 1
    df[5] = 1
    df[6] = 'N'
    df[7] = 145
    df[8] = 226
    df[9] = 2
    df[11] = 0.0
    df[10] = df[12]
    df[16] = df[17]
    df[17] = 0.0
    print(f"Writing: {os.path.split(f)[1]}")        
    df.to_csv(dst, index=False)

In [22]:
n_cores = multiprocessing.cpu_count()
pool = Pool(processes=n_cores)
_ = pool.map(remove_first, files)

Reading: yellow_tripdata_2013-11.csv
Reading: yellow_tripdata_2011-12.csv
Reading: yellow_tripdata_2012-07.csv
Reading: yellow_tripdata_2013-10.csv
Reading: yellow_tripdata_2011-01.csv
Reading: yellow_tripdata_2009-08.csv
Reading: yellow_tripdata_2010-08.csv
Reading: yellow_tripdata_2011-06.csv
Reading: yellow_tripdata_2009-03.csv
Reading: yellow_tripdata_2009-06.csv
Writing: yellow_tripdata_2011-06.csv
Reading: yellow_tripdata_2011-02.csv
Writing: yellow_tripdata_2011-02.csv
Reading: yellow_tripdata_2019-09.csv
Writing: yellow_tripdata_2019-09.csv
Reading: yellow_tripdata_2012-03.csv
Writing: yellow_tripdata_2010-08.csv
Reading: yellow_tripdata_2014-12.csv
Writing: yellow_tripdata_2011-01.csv
Writing: yellow_tripdata_2009-08.csv
Writing: yellow_tripdata_2013-11.csv
Writing: yellow_tripdata_2012-07.csv
Writing: yellow_tripdata_2009-06.csv
Writing: yellow_tripdata_2009-03.csv
Writing: yellow_tripdata_2013-10.csv
Writing: yellow_tripdata_2011-12.csv
Reading: yellow_tripdata_2012-04.csv
Reading: yellow_tripdata_2014-09.csv
Reading: yellow_tripdata_2009-05.csv
Reading: yellow_tripdata_2014-01.csv
Reading: yellow_tripdata_2011-04.csv
Reading: yellow_tripdata_2009-01.csv
Reading: yellow_tripdata_2013-08.csv
Reading: yellow_tripdata_2012-01.csv
Writing: yellow_tripdata_2014-12.csv
Writing: yellow_tripdata_2012-03.csv
Reading: yellow_tripdata_2014-11.csv
Reading: yellow_tripdata_2010-07.csv
Writing: yellow_tripdata_2014-09.csv
Reading: yellow_tripdata_2010-10.csv
Writing: yellow_tripdata_2012-04.csv
Writing: yellow_tripdata_2013-08.csv
Writing: yellow_tripdata_2014-01.csv
Reading: yellow_tripdata_2019-07.csv
Reading: yellow_tripdata_2019-10.csv
Writing: yellow_tripdata_2009-01.csv
Writing: yellow_tripdata_2019-10.csv
Writing: yellow_tripdata_2009-05.csv
Writing: yellow_tripdata_2011-04.csv
Writing: yellow_tripdata_2019-07.csv
Writing: yellow_tripdata_2012-01.csv
Reading: yellow_tripdata_2010-11.csv
Writing: yellow_tripdata_2014-11.csv
Reading: yellow_tripdata_2014-04.csv
Reading: yellow_tripdata_2010-05.csv
Reading: yellow_tripdata_2014-05.csv
Writing: yellow_tripdata_2010-07.csv
Reading: yellow_tripdata_2019-12.csv
Reading: yellow_tripdata_2011-09.csv
Reading: yellow_tripdata_2012-09.csv
Reading: yellow_tripdata_2010-09.csv
Reading: yellow_tripdata_2009-11.csv
Writing: yellow_tripdata_2010-10.csv
Writing: yellow_tripdata_2019-12.csv
Reading: yellow_tripdata_2014-06.csv
Reading: yellow_tripdata_2012-10.csv
Writing: yellow_tripdata_2010-11.csv
Reading: yellow_tripdata_2011-03.csv
Writing: yellow_tripdata_2014-04.csv
Reading: yellow_tripdata_2014-08.csv
Writing: yellow_tripdata_2010-05.csv
Writing: yellow_tripdata_2014-05.csv
Writing: yellow_tripdata_2012-09.csv
Writing: yellow_tripdata_2011-09.csv
Reading: yellow_tripdata_2019-05.csv
Writing: yellow_tripdata_2009-11.csv
Reading: yellow_tripdata_2013-01.csv
Writing: yellow_tripdata_2010-09.csv
Reading: yellow_tripdata_2019-01.csv
Reading: yellow_tripdata_2009-09.csv
Reading: yellow_tripdata_2012-12.csv
Reading: yellow_tripdata_2010-06.csv
Writing: yellow_tripdata_2014-06.csv
Writing: yellow_tripdata_2012-10.csv
Reading: yellow_tripdata_2014-10.csv
Writing: yellow_tripdata_2019-05.csv
Reading: yellow_tripdata_2019-02.csv
Reading: yellow_tripdata_2012-11.csv
Writing: yellow_tripdata_2019-01.csv
Writing: yellow_tripdata_2014-08.csv
Reading: yellow_tripdata_2012-02.csv
Reading: yellow_tripdata_2011-10.csv
Writing: yellow_tripdata_2011-03.csv
Reading: yellow_tripdata_2009-02.csv
Writing: yellow_tripdata_2019-02.csv
Reading: yellow_tripdata_2011-07.csv
Writing: yellow_tripdata_2013-01.csv
Reading: yellow_tripdata_2011-05.csv
Writing: yellow_tripdata_2009-09.csv
Writing: yellow_tripdata_2012-12.csv
Reading: yellow_tripdata_2009-04.csv
Writing: yellow_tripdata_2010-06.csv
Reading: yellow_tripdata_2012-05.csv
Reading: yellow_tripdata_2010-12.csv
Writing: yellow_tripdata_2014-10.csv
Writing: yellow_tripdata_2012-11.csv
Reading: yellow_tripdata_2013-12.csv
Reading: yellow_tripdata_2019-11.csv
Writing: yellow_tripdata_2012-02.csv
Writing: yellow_tripdata_2011-10.csv
Reading: yellow_tripdata_2009-10.csv
Writing: yellow_tripdata_2009-02.csv
Reading: yellow_tripdata_2013-09.csv
Reading: yellow_tripdata_2010-01.csv
Writing: yellow_tripdata_2019-11.csv
Writing: yellow_tripdata_2011-07.csv
Reading: yellow_tripdata_2011-08.csv
Reading: yellow_tripdata_2019-03.csv
Writing: yellow_tripdata_2011-05.csv
Writing: yellow_tripdata_2009-04.csv
Writing: yellow_tripdata_2010-12.csv
Reading: yellow_tripdata_2019-08.csv
Reading: yellow_tripdata_2013-02.csv
Writing: yellow_tripdata_2012-05.csv
Reading: yellow_tripdata_2009-07.csv
Reading: yellow_tripdata_2012-06.csv
Writing: yellow_tripdata_2013-12.csv
Reading: yellow_tripdata_2013-07.csv
Writing: yellow_tripdata_2019-03.csv
Reading: yellow_tripdata_2019-04.csv
Writing: yellow_tripdata_2019-08.csv
Reading: yellow_tripdata_2011-11.csv
Writing: yellow_tripdata_2011-11.csv
Writing: yellow_tripdata_2013-09.csv
Reading: yellow_tripdata_2013-04.csv
Writing: yellow_tripdata_2009-10.csv
Reading: yellow_tripdata_2014-07.csv
Writing: yellow_tripdata_2010-01.csv
Writing: yellow_tripdata_2011-08.csv
Reading: yellow_tripdata_2013-05.csv
Reading: yellow_tripdata_2014-02.csv
Writing: yellow_tripdata_2019-04.csv
Reading: yellow_tripdata_2019-06.csv
Writing: yellow_tripdata_2013-02.csv
Writing: yellow_tripdata_2009-07.csv
Reading: yellow_tripdata_2012-08.csv
Writing: yellow_tripdata_2013-07.csv
Writing: yellow_tripdata_2012-06.csv
Reading: yellow_tripdata_2013-06.csv
Writing: yellow_tripdata_2019-06.csv
Writing: yellow_tripdata_2014-07.csv
Writing: yellow_tripdata_2013-04.csv
Reading: yellow_tripdata_2013-03.csv
Writing: yellow_tripdata_2014-02.csv
Reading: yellow_tripdata_2014-03.csv
Writing: yellow_tripdata_2013-05.csv
Writing: yellow_tripdata_2012-08.csv
Reading: yellow_tripdata_2010-04.csv
Writing: yellow_tripdata_2013-06.csv
Reading: yellow_tripdata_2009-12.csv
Writing: yellow_tripdata_2013-03.csv
Writing: yellow_tripdata_2014-03.csv
Writing: yellow_tripdata_2010-04.csv
Writing: yellow_tripdata_2009-12.csv

In [6]:
fn = "yellow_tripdata_2009-05.csv"

srcfl = os.path.join(src, fn)
destfl = os.path.join(dest, fn)

df = pd.read_csv(files[5], header=None)

In [7]:
df.head(n=20)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,1,2011-09-20 09:41:28,2011-09-20 09:54:18,3,2.1,1,N,145,226,2,8.9,0.0,8.9,0.0,0.5,1.88,11.28,0.0
1,1,2011-09-19 09:07:10,2011-09-19 09:23:50,1,2.3,1,N,145,226,2,10.1,0.0,10.1,0.0,0.5,2.65,13.25,0.0
2,1,2011-09-19 09:04:34,2011-09-19 09:18:12,1,1.1,1,N,145,226,2,8.1,0.0,8.1,0.0,0.5,2.15,10.75,0.0
3,1,2011-09-21 01:20:40,2011-09-21 01:30:14,1,2.7,1,N,145,226,2,8.9,0.0,8.9,0.5,0.5,1.98,11.88,0.0
4,1,2011-09-20 09:34:17,2011-09-20 10:25:38,1,3.8,1,N,145,226,2,24.1,0.0,24.1,0.0,0.5,2.00,26.60,0.0
5,1,2011-09-21 00:49:10,2011-09-21 00:55:18,1,1.2,1,N,145,226,2,5.7,0.0,5.7,0.5,0.5,0.80,7.50,0.0
6,1,2011-09-21 01:01:15,2011-09-21 01:05:47,1,1.3,1,N,145,226,2,5.3,0.0,5.3,0.5,0.5,2.00,8.30,0.0
7,1,2011-09-21 01:27:01,2011-09-21 01:32:46,3,1.0,1,N,145,226,2,5.7,0.0,5.7,0.5,0.5,1.00,7.70,0.0
8,1,2011-09-21 01:32:59,2011-09-21 01:43:24,4,2.9,1,N,145,226,2,9.7,0.0,9.7,0.5,0.5,2.00,12.70,0.0
9,1,2011-09-21 01:21:59,2011-09-21 01:29:24,1,2.5,1,N,145,226,2,8.5,0.0,8.5,0.5,0.5,1.90,11.40,0.0
10,1,2011-09-19 09:14:56,2011-09-19 09:52:38,1,1.6,1,N,145,226,2,17.7,0.0,17.7,0.0,0.5,5.46,23.66,0.0
11,1,2011-09-19 09:17:08,2011-09-19 09:24:34,1,1.5,1,N,145,226,2,6.5,0.0,6.5,0.0,0.5,1.00,8.00,0.0
12,1,2011-09-19 09:10:05,2011-09-19 09:14:24,1,0.8,1,N,145,226,2,4.5,0.0,4.5,0.0,0.5,1.00,6.00,0.0
13,1,2011-09-19 09:09:24,2011-09-19 09:30:23,1,2.2,1,N,145,226,2,12.1,0.0,12.1,0.0,0.5,1.50,14.10,0.0
14,1,2011-09-19 08:58:02,2011-09-19 09:11:04,1,1.4,1,N,145,226,2,8.1,0.0,8.1,0.0,0.5,1.72,10.32,0.0
15,1,2011-09-19 09:03:51,2011-09-19 09:09:32,1,1.1,1,N,145,226,2,5.7,0.0,5.7,0.0,0.5,1.00,7.20,0.0
16,1,2011-09-20 09:40:11,2011-09-20 09:52:06,1,2.4,1,N,145,226,2,8.9,0.0,8.9,0.0,0.5,1.88,11.28,0.0
17,1,2011-09-21 00:34:42,2011-09-21 00:38:57,0,1.2,1,N,145,226,2,5.3,0.0,5.3,0.5,0.5,1.50,7.80,0.0
18,1,2011-09-19 09:10:03,2011-09-19 09:19:26,1,2.1,1,N,145,226,2,7.7,0.0,7.7,0.0,0.5,1.00,9.20,0.0
19,1,2011-09-20 09:30:09,2011-09-20 09:55:24,3,1.7,1,N,145,226,2,12.9,0.0,12.9,0.0,0.5,1.00,14.40,0.0

In [24]:
df[0].dtype

dtype('float64')

In [17]:
df1 = pd.read_csv(files[1], header=None)

/home/boris/.local/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [18]:
df1.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,0,1,2,3,4,5,6,7,8,9,10.0,11.0,12.0,13.0,14.0,15.0,16.0,17.0
1,1,2011-02-04 14:40:00,2011-02-04 14:51:00,5,1.64,1,N,145,226,2,7.7,0.0,7.7,0.0,0.5,0.8,9.0,0.0
2,1,2011-02-04 14:08:00,2011-02-04 14:21:00,1,1.31,1,N,145,226,2,8.1,0.0,8.1,0.0,0.5,0.0,8.6,0.0
3,1,2011-02-04 14:35:00,2011-02-04 14:46:00,5,1.04,1,N,145,226,2,7.3,0.0,7.3,0.0,0.5,1.0,8.8,0.0
4,1,2011-02-04 14:59:00,2011-02-04 15:08:00,2,1,1,N,145,226,2,6.1,0.0,6.1,0.0,0.5,0.0,6.6,0.0

In [13]:
df[1].dtype

dtype('O')

In [ ]:


for f in files:
    with open(f, "r") as fd:
        lns = fd.readlines()
    empty = []
    for i, l in zip(range(len(lns)), lns):
        if l.find(',,') >=0 or l.endswith(','): empty += [i]
    if len(empty) > 0: print(f)
    else: print(f"No empty lines: {f}")

In [ ]:
#dst = os.path.join(cleaned_data_path, os.path.split(f)[1])


df = pd.read_csv(srcfl, header=None, error_bad_lines=True)
df1 = df.fillna(0)
df.head()

In [ ]:
df.loc[168, :]

In [ ]:
df1.loc[168, :]